<!doctype html>

<html lang="en" ng-app="gtfsmatch">
<head>
<meta charset="utf-8">
<title>GTFS Matcher</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<style>
.form-row {
	margin-bottom: 3px;
}
.form-row label {
	display: inline-block;
	width: 250px;
}
.form-row input {
	display: inline-block;
	width: 300px;
}
</style>

</head>

<body>

<regions>
	<h1>Regions</h1>
	<div v-for="region in list">
		<h4>{{ region.title }}</h4>
		<button @click="downloadRegion(region.name);">Download GTFS</button>
		<button @click="deleteRegion(region.name);">Delete</button>
		<button @click="editRegion(region.name);">Edit</button>
		<a v-bind:href="'/editor.html?region=' + region.name">Match with osm</a>
	</div>
	
	<div v-if="template">
		<h2>Add new region</h2>	
		<form>
			<div class="form-row" v-for="field in template.fields" >
				<label>{{ field.title }}</label>
				<input v-bind:name="field.name" v-model="form[field.name]"/>	
			</div>
		</form>
		<button onclick="submitNewRegion();">Add region</button>
	</div>
</regions>	

<script>
	
	const regions = new Vue({
		el: 'regions',
		data: function() {
			return {
				list: null,
				template: null,
				form: {}
			};
		}
	});	

	fetch('/regions.json').then(response => response.json()).then(list => {
		regions.list = list;
	});
	
	fetch('/regions/template.json').then(response => response.json()).then(template => {
		regions.template = template;
	});
	
	function submitNewRegion() {
		fetch('/regions.json', {
			method: 'POST',
			headers: {
		      'Accept': 'application/json',
		      'Content-Type': 'application/json'
		    },
			body: JSON.stringify(regions.form)
		}).then(response => response.json()).then(newRegion => {
			regions.form = {};
			regions.list.push(newRegion);
			console.log(response);
		});
	}
	
	function downloadRegion(region) {
		fetch('/regions/' + region + '/download.json', {
			method: 'POST',
			headers: {
		      'Accept': 'application/json',
		      'Content-Type': 'application/json'
		    }
		}).then(response => {
			console.log(region + ' downloaded');
		});
	}
	
	function deleteRegion(region) {
		fetch('/regions/' + region + '.json', {
			method: 'DELETE',
			headers: {
		      'Accept': 'application/json',
		      'Content-Type': 'application/json'
		    }
		}).then(response => response.json()).then(response => {
			regions.list.splice(regions.list.findIndex(r => r.name === region), 1);
		});
	}

</script>

</body>
</html>